@import url('../../global/normalize.css');

body{
    background-color: aliceblue;
    height: 100vh;
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.reg_container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.search_container{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#search_form{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#results{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.text_input{
    width: 200px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.btn{
    width: 100px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;    
}

#registration_form{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

h1{
    color: black;
    text-align: center;
    margin: 30px;

}

h2{
    color: black;
    text-align: center;
    margin: 50px;
}

label{
    font-size: 20px;
}
table  th, table td{
    text-align: center;
    padding: 20px;


}