@import url("../global/global.css");

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    color: #ffffff;
    gap: 50px;
    text-align: center;

}

#container{
    display: flex;
    justify-content: center;
    background-color: #2d70ad;
    width: 80%;
    height: 600px;
    border-radius: 25px;
}


#regForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}



    
h1{
    color: #2d70ad;
    font-size: 40px;
    margin: 20px 0 0 0;
}

h2{
    margin: 40px 0;
    font-size: 30px;
 }
 
